.env
.env.local
*.log
.DS_Store
node_modules
dist
coverage
.idea
.vscode
apps/api/node_modules
apps/api/dist
apps/api/.env
apps/api/*.tsbuildinfo
apps/app/.dart_tool
apps/app/.idea
apps/app/build
apps/app/.flutter-plugins
apps/app/.flutter-plugins-dependencies
apps/app/*.iml
.fvm/flutter_sdk
apps/app/.widget_preview/
apps/api/uploads/*
!apps/api/uploads/.gitkeep
